<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Confirm Removal</title>
</head>

<body>
    <h1>Removal of All Lifters</h1>
    Maxes of all <%- numRemoved %> lifters have been removed from the database.
    <br>
    <a href="/">HOME</a>
</body>
</html>