<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> Display Max</title>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body>
        <h1>One Rep Max</h1>
        <% lifts.forEach(lift => { %>
            <span style="font-weight: bold">Name:</span> <%= lift.name %><br>
            <span style="font-weight: bold">Email Address:</span> <%= lift.email %><br>
            <span style="font-weight: bold">Lift:</span> <%= lift.lift %><br>
            <span style="font-weight: bold">One Rep Max:</span> <%= lift.max.toFixed(2) %><br>
            <hr>
        <% }); %>
         <hr><br>
         <a href="/">HOME</a>
    </body>
</html>