<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> Display Max</title>
    </head>

    <body>
        <h1>One Rep Max</h1>
        <span style="font-weight: bold">Name:</span> <%- name %><br>
        <span style="font-weight: bold">Email Address:</span> <%- email %><br>
        <span style="font-weight: bold">Lift:</span> <%- lift %><br>
        <span style="font-weight: bold">One Rep Max:</span> <%- max %><br>
         <hr><br>
         <a href="/">HOME</a>
    </body>
</html>