<!DOCTYPE html>
<html lang="en"></html>

<head>
    <meta charset="utf-8" />
    <title>One Rep Max Calculator</title>
</head>

<body>
    <h1>One Rep Max Calculator</h1>
    <ul>
    <li>Find your one rep max <a href="/calculate">here</a></li>
    <li>Search for a lifter's max by email <a href="/review">here</a></li>
    <li>Remove all lifters <a href="/remove">here</a></li>
    </ul>
    <hr>
</body>