<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Review Max</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Find Maxes</h1>
    <form action= "/review" method="post">
        <fieldset>
            <label>Email Address: <input type="email" name="email"/></label>
        </fieldset>
        <br>
        <input type="reset" >
        <input type="submit" value="Find Maxes">
    </form>
    <hr>
    <a href="/">HOME</a>
</body>
</html>